
/* .cv_right { float:right; _position:relative; } */
.cv_right {margin-left: 52px; position: absolute;}

.image.avatar {
    border-radius: 100%;
    overflow: hidden;
}

.image.avatar img {
    border-radius: 100%;
    display: block;
    width: 70%;
}

.publications {
    li {
        list-style: none;
    }
}

h1 {
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111
}

body {
    background-color: #d4d4d4;
    padding:50px;
    font-size: 14px/1.5;
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#4f4f4f;
    font-weight:400;
}

a {
    color:#008c9d;
    text-decoration:none;
}

a:hover {
    color:#016570;
}

/* Footer */

#footer {
    border-top: 0;
    color: #828080;
    overflow: hidden;
    padding: 2em 0 1em 0;
}

#footer .copyright {
    line-height: 1em;
    list-style: none;
    padding: 0;
}

#footer .copyright li {
    border-left: solid 1px #828080;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 1em;
    padding-left: 1em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}
