/* .cv_right { float:right; _position:relative; } */
.cv_right {
  margin-left: 52px;
  position: absolute;
}

.image.avatar {
  border-radius: 0%;
  overflow: hidden;
}

.abstract {
  font-family: "Times";
}

.image.avatar img {
  border-radius: 0%;
  display: block;
  width: 80%;
  max-width: 200px;
  border: 2px solid #222;
}

.icon i {
  color: #222;
}
.icon i:hover {
  color: inline;
}

.publications {
  li {
    list-style: none;
  }
}
.publications.title {
  color: #222;
}

h1 {
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #222;
}

body {
  background-color: #f9f7f7;
  padding: 50px;
  font-size: 14px/1.5;
  font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 400;
}

a {
  color: #3f72af;
  text-decoration: none;
}

a:hover {
  color: #f89d13;
}

/* Footer */

#footer {
  border-left: 0;
  border-bottom: 0;
  width: 100%;
  min-width: 50px;
  color: #dbe2ef;
  overflow: hidden;
  padding: 2em 0 1em 0;
  text-align: center;
  white-space: nowrap;
}

#footer .copyright {
  line-height: 1em;
  list-style: none;
  padding: 0;
}

#footer .copyright li {
  width: auto;
  border-left: solid 1px #dbe2ef;
  display: inline-block;
  font-size: 0.75em;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}
#footer .copyright li a:hover {
  color: #f89d13;
}
