:root {
  --main-font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
}

a {
  color: #2c5fb6;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ffd500;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: var(--main-font-family);
  font-size: 14px;
}

strong {
  font-family: var(--main-font-family);
  font-size: 14px;
}

heading {
  font-family: var(--main-font-family);
  font-size: 22px;
  font-weight: 600;
}

papertitle {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 600;
}

name {
  font-family: var(--main-font-family);
  font-size: 32px;
  font-weight: 700;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  overflow: hidden;
}

.fade {
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.one video,
.one img,
.two video,
.two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
