.canvas {
  position: absolute;
  top: 25%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-25%);
  -webkit-transform: translateX(-50%) translateY(-25%);
  transform: translateX(-50%) translateY(-25%);
  max-width: 480px;
}
